* {
    vertical-align: baseline;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}
article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 40rem;
    height: 30rem;
    border: 1px solid #000000;
}
.menu {
    width: 15rem;
    font-size: 2rem;
    color: white;
}
.menu-item, #top-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    background: #35BAF5;
    cursor: pointer;
}
.blueBg {
    background: #03A9F5;
}
.hide_elem {
display: none;
}
#top-menu {
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    border-top: 2px solid #d4d4d4;
}
.shadow {
    box-shadow: 0 5px 15px 0 #68B3F0;
}