div {
    height: 100px;
    margin: 20px;
}
#option_1 {
    border: 2px solid #000000;
}
#option_2 {
    outline: 1px solid #008000;

}
#option_3 {
    border: 2px solid #000000;
    box-shadow:
            0 0 0 5px #ffd700,
            0 0 0 10px #00ffff;
}
#option_4 {
    border-style: solid;
    border-width: 10px;
    border-image: url(img/vxnG875MKp.jpg) 30 round round;
}
#option_5 {
    border: 10px solid transparent;
    border-image: linear-gradient(to right, transparent 0%, #008000 100%);
    border-image-slice: 1;
}
